# ---- Angular ----
rick-morty-client/node_modules/
rick-morty-client/dist/
rick-morty-client/.angular/

# ---- .NET ----
rick-morty-server/bin/
rick-morty-server/obj/
rick-morty-server/.vs/

# ---- Local publish output ----
publish-rick-morty/

# ---- System files ----
.DS_Store
Thumbs.db

rick-morty-server/wwwroot/

# Publish output (generated)
publish/
publish-*.zip

# Python
rick-morty-python-server/.venv/
__pycache__/
*.pyc
